{% extends "flood_threat_viewer/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_navigation_items %}
    <li><a href="{% url 'flood_threat_viewer:home' %}">Home</a></li>
    <li><a href="{% url 'flood_threat_viewer:Instructions' %}">About</a></li>
    <li class="separator"></li>
    <li><a href="{% url 'flood_threat_viewer:floodExtent' %}">Flood Extent</a></li>
    <li><a href="{% url 'flood_threat_viewer:waterDepth' %}">Water Depth</a></li>
    <li><a href="{% url 'flood_threat_viewer:flowVelocity' %}">Flow Velocity</a></li>
    <li class=active><a href="{% url 'flood_threat_viewer:critConditions' %}">Critical Conditions</a></li>
    <li class="separator"></li>

    {# Set of radio buttons to show for critical threshold selection #}
    <div id="critRadioGroup">
        <h8>Risk of exceeding particularly dangerous flood conditions:</h8>
        <li><input type="radio" onClick="onClickToggleLayers(critLyr1);"  id="crit_1" name="crit" value="cri1">½ ft water moving at 4 mph</li>
        <li><input type="radio" onClick="onClickToggleLayers(critLyr2);"  id="crit_2" name="crit" value="cri2">1 ft water moving at 4 mph</li>
        <li><input type="radio" onClick="onClickToggleLayers(critLyr3);"  id="crit_3" name="crit" value="cri3">2 ft water moving at 4 mph</li>
        <li><input type="radio" onClick="onClickToggleLayers(critLyr4);"  id="crit_4" name="crit" value="cri4">½ ft water moving at 6 mph</li>
        <li><input type="radio" onClick="onClickToggleLayers(critLyr5);"  id="crit_5" name="crit" value="cri5">1 ft water moving at 6 mph</li>
        <li><input type="radio" onClick="onClickToggleLayers(critLyr6);"  id="crit_6" name="crit" value="cri6">2 ft water moving at 6 mph</li>
        <li><input type="radio" onClick="onClickToggleLayers(critLyr7);"  id="crit_7" name="crit" value="cri7">3 ft water moving at 2 mph</li>
        <li><input type="radio" onClick="onClickToggleLayers(critLyr8);"  id="crit_8" name="crit" value="cri8">4 ft water moving at 2 mph</li>
        <li><input type="radio" onClick="onClickToggleLayers(critLyr9);"  id="crit_9" name="crit" value="cri9">5 ft water moving at 1 mph</li>
        <li><input type="radio" onClick="onClickToggleLayers(critLyr10);"  id="crit_10" name="crit" value="cri10">6 ft water moving at 1 mph</li>
    </div>
<li class="separator"></li>
        <h8>Legend</h8>
         <img src="/static/flood_threat_viewer/images/critLeg.png" width=100% height="50">
    <li class="separator"></li>


    <!--<li><input type="submit" value="Download Image"></li>-->
{% endblock %}

{% block app_content %}

  <div id="map" class="map"></div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'flood_threat_viewer/js/critConditions.js' %}" type="text/javascript"></script>
{% endblock %}
