{% extends "flood_threat_viewer/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_navigation_items %}
    <li><a href="{% url 'flood_threat_viewer:home' %}">Home</a></li>
    <li><a href="{% url 'flood_threat_viewer:Instructions' %}">Instructions</a></li>
    <li class="separator"></li>
    <li><a href="{% url 'flood_threat_viewer:floodExtent' %}">Flood Extent</a></li>
    <li><a href="{% url 'flood_threat_viewer:waterDepth' %}">Water Depth</a></li>
    <li><a href="{% url 'flood_threat_viewer:flowVelocity' %}">Flow Velocity</a></li>
    <li><a href="{% url 'flood_threat_viewer:critConditions' %}">Critical Conditions</a></li>
    <li class="separator"></li>

    {# Set of radio buttons to show for critical threshold selection #}
    <div id="critRadioGroup">
        <h9>Likelihood of critical flood conditions:</h9>
        <li><input type="radio" onClick="flood.setVisible(!flood.getVisible());"  id="crit_1" name="crit" value="crit1">Critical Condition 1
        <li><input type="radio" onClick="land.setVisible(!land.getVisible());"  id="crit_2" name="crit" value="crit2">Critical Condition 2
        <li><input type="radio" onClick="address.setVisible(!address.getVisible());"  id="crit_3" name="crit" value="crit3">Critical Condition 3
        <li><input type="radio" onClick="flood.setVisible(!flood.getVisible());"  id="crit_4" name="crit" value="crit4">Critical Condition 4
        <li><input type="radio" onClick="land.setVisible(!land.getVisible());"  id="crit_5" name="crit" value="crit5">Critical Condition 5
        <li><input type="radio" onClick="address.setVisible(!address.getVisible());"  id="crit_6" name="crit" value="crit6">Critical Condition 6
        <li><input type="radio" onClick="flood.setVisible(!flood.getVisible());"  id="crit_7" name="crit" value="crit7">Critical Condition 7
        <li><input type="radio" onClick="flood.setVisible(!flood.getVisible());"  id="crit_8" name="crit" value="crit8">Critical Condition 8
        <li><input type="radio" onClick="flood.setVisible(!flood.getVisible());"  id="crit_9" name="crit" value="crit9">Critical Condition 9
        <li><input type="radio" onClick="flood.setVisible(!flood.getVisible());"  id="crit_10" name="crit" value="crit10">Critical Condition 10
    </div>
{% endblock %}


{% block app_content %}

{% endblock %}


{% block app_actions %}

{% endblock %}

