{% extends "flood_threat_viewer/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_navigation_items %}
    <li><a href="{% url 'flood_threat_viewer:home' %}">Home</a></li>
    <li><a href="{% url 'flood_threat_viewer:Instructions' %}">Instructions</a></li>
    <li class="separator"></li>
    <li><a href="{% url 'flood_threat_viewer:floodExtent' %}">Flood Extent</a></li>
    <li><a href="{% url 'flood_threat_viewer:waterDepth' %}">Water Depth</a></li>
    <li><a href="{% url 'flood_threat_viewer:flowVelocity' %}">Flow Velocity</a></li>
    <li><a href="{% url 'flood_threat_viewer:critConditions' %}">Critical Conditions</a></li>
    <li class="separator"></li>


    {# Set of radio buttons to show for flow velocity selection #}
    <div id="fvRadioGroup">
        <h9>Likelihood flow velocity will flow faster than</h9>
        <li><input type="radio" onClick="flood.setVisible(!flood.getVisible());"  id="fv_hlf" name="wd" value="fvhlf">1 mph
        <li><input type="radio" onClick="land.setVisible(!land.getVisible());"  id="fv_1" name="wd" value="fv1">2 mph
        <li><input type="radio" onClick="address.setVisible(!address.getVisible());"  id="fv_2" name="wd" value="fv2">4 mph
        <li><input type="radio" onClick="flood.setVisible(!flood.getVisible());"  id="fv_3" name="wd" value="fv3">6 mph
        <li><input type="radio" onClick="land.setVisible(!land.getVisible());"  id="fv_4" name="wd" value="fv4">8 mph
    </div>

{% endblock %}

{% block app_content %}

{% endblock %}



{% block app_actions %}

{% endblock %}

