{% extends "flood_threat_viewer/base.html" %}

{% load staticfiles %}

{% block app_navigation_items %}
    <li><a href="{% url 'flood_threat_viewer:home' %}">Home</a></li>
    <li class="active"><a href="{% url 'flood_threat_viewer:Instructions' %}">Instructions</a></li>
    <li class="separator"></li>
    <li><a href="{% url 'flood_threat_viewer:floodExtent' %}">Flood Extent</a></li>
    <li><a href="{% url 'flood_threat_viewer:waterDepth' %}">Water Depth</a></li>
    <li><a href="{% url 'flood_threat_viewer:flowVelocity' %}">Flow Velocity</a></li>
    <li><a href="{% url 'flood_threat_viewer:critConditions' %}">Critical Conditions</a></li>
    <li class="separator"></li>
{% endblock %}

{% block app_content %}

<h1><font size="18"><font color="#1a1a1a">Instructions</font></h1>
<h2>Darby Creek Case Study</h2>
  <p>Welcome to the Flood Threat Viewer. This interface will allow you to quicly view the likelihood of dangerous flood conditions </p>
  <p>Use the drop down box to select the flood threat variable you are interested in.....</p>

{% endblock %}

{% block app_actions %}
{% endblock %}